<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|EB+Garamond|PT+Mono&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <title>World of Literature</title>
</head>
<body>
     <div class="wrapper">
        <div class="earth"></div>
     </div>
      <h1>World of Literature</h1>
    <div>
      
      </div> 
    <form class="info" action='/login' method='post'>
            <p class="log">Username</p>
            <input type="text" name="username" placeholder="Enter username"/>
            <p class="pass">Password</p>
            <input type="password" name="password" placeholder="Enter password" />
            <button type="submit">Continue</button>
    </form>
    <!-- Jquery -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js"></script>
</body>
</html>
