<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Mono&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <title>World of Literature</title>
</head>
<body>
    <h1>World of Literature</h1>
    <p class="first">Author: Sor Juana Inéz De la Cruz</p>
    <div class="wrapper">
        <div class="earth"></div>
    </div>
    <!-- Main JS -->
    <script src="/scripts/app.js"></script>
</body>
</html>